<div class="container">

  <h2><%= @title %></h2>

  <p>Here's the list of messages imported from Postmark</p>

  <div class="pages">
    <%= will_paginate @messages, class: 'found' %>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Recipient</th> -->
          <th>Subject</th>
          <th>Tag</th>
          <th>Message ID</th>
          <th>Date &amp; Time</th>
        </tr>
      </thead>
      <tbody>
        <% if @messages.blank? %>
          <tr>
            <!-- <td> - </td> -->
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          </tr>
        <% else %>
          <% @messages.each do |msg| %>
            <tr>
              <!-- <td><%= msg.recipients %> -->
              <td><%= msg.subject %>
              <td><%= msg.tag %></td>
              <td><%= msg.message_id %></td>
              <td><%= msg.received_at.strftime("%b %m, %l:%M:%S %p") %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
