<h2><%= @title %></h2>

<%= will_paginate @webhooks %>

<div class="container">
  <div class="row">
    <div class="col"><b>Payload</b></div>
    <div class="col-md-auto"><b>Webhook Type</b></div>
    <div class="col col-lg-2">  </div>
  </div>
  <% if @webhooks.blank? %>
    <div class="row">
      <div class="col"> - </div>
      <div class="col-md-auto"> - </div>
      <div class="col col-lg-2"> - </div>
    </div>
  <% else %>
    <% @webhooks.each do |webhook| %>
      <div class="row">
        <div class="col">
          <%= webhook.payload %>
        </div>
        <div class="col-md-auto">
          <%= webhook.webhook_type %>
        </div>
        <div class="col col-lg-2">
          <%= link_to 'Show', webhook %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<br />
